<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta
      http-equiv="Content-Security-Policy"
      content="default-src 'self'; style-src 'self';"
    />
    <link rel="stylesheet" href="../styles/font-awesome/css/all.min.css" />
    <link
      type="text/css"
      rel="stylesheet"
      href="../styles/materialize/css/materialize.min.css"
      media="screen,projection"
    />
    <link rel="stylesheet" href="../styles/main.css" />
    <title>ToDo List</title>
  </head>
  <body>
    <div id="menu-bar">
      <div class="left" role="menu">
        <button class="menubar-btn" id="menu-btn">
          <i class="fas fa-bars"></i>
        </button>
        <h5>ToDoList</h5>
      </div>
      <div class="right">
        <button class="menubar-btn" id="minimize-btn">
          <i class="fas fa-window-minimize"></i>
        </button>
        <button class="menubar-btn" id="max-unmax-btn">
          <i class="far fa-square"></i>
        </button>
        <button class="menubar-btn" id="close-btn">
          <i class="fas fa-times"></i>
        </button>
      </div>
    </div>
    <!-- <nav>
      <div class="nav-wrapper">
        <a href="" class="brand-logo center">ToDo List</a>
      </div>
    </nav> -->
    <div class="mainnav">
      <button class="addbtn">ADD</button>
      <button class="clearallbtn">CLEAR ALL</button>
    </div>
    <div class="scrollable-area">
      <ul></ul>
    </div>
    <footer></footer>
  </body>
  <script
    type="text/javascript"
    src="../styles/materialize/js/materialize.min.js"
  ></script>
  <script src="main-script.js"></script>
</html>
