<!DOCTYPE html>
<html lang="en">
  <head>
    <meta http-equiv="Content-Security-Policy" content="default-src 'self'" />
    <link rel="stylesheet" href="../styles/font-awesome/css/all.min.css" />
    <link
      type="text/css"
      rel="stylesheet"
      href="../styles/materialize/css/materialize.min.css"
      media="screen,projection"
    />
    <link rel="stylesheet" href="../styles/main.css" />
    <title>ToDo List</title>
  </head>
  <body>
    <div id="menu-bar">
      <div class="left" role="menu">
        <button class="menubar-btn" id="menu-btn">
          <i class="fas fa-bars"></i>
        </button>
        <h5>ToDo List</h5>
      </div>
      <div class="right">
        <button class="menubar-btn" id="minimize-btn">
          <i class="fas fa-window-minimize"></i>
        </button>
        <button class="menubar-btn" id="max-unmax-btn">
          <i class="far fa-square"></i>
        </button>
        <button class="menubar-btn" id="close-btn">
          <i class="fas fa-times"></i>
        </button>
      </div>
    </div>
    <!-- <nav>
      <div class="nav-wrapper">
        <a href="" class="brand-logo center">ToDo List</a>
      </div>
    </nav> -->
    <ul></ul>
  </body>
  <script
    type="text/javascript"
    src="../styles/materialize/js/materialize.min.js"
  ></script>
  <script src="main-script.js"></script>
</html>
