@font-face {
  font-family: Goldman;
  src: url(../fonts/Goldman-Regular.ttf);
}

:root {
  --main-bg-dark: #1e2425;
  --menu-bg-dark: #303738;
  --item-bg-dark: #0091ea;
  --item-select-dark: #14cba8;
  --font-color-dark: #d5dade;
}

body {
  padding: 0;
  margin: 0;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  background-color: var(--main-bg-dark);
  color: var(--font-color-dark);
}

#item {
  color: var(--font-color-dark);
}

.draggable {
  -webkit-user-select: none;
  -webkit-app-region: drag;
  width: 100%;
  height: 25px;
  position: absolute;
}

.button-container {
  display: flex;
  justify-content: space-between;
}

.addfield {
  height: 120px;
  border-radius: 5px;
  border: none;
  outline: none;
  resize: none;
  background: var(--menu-bg-dark);
}

.addfield::-webkit-scrollbar {
  width: 10px;
}

.addfield::-webkit-scrollbar-thumb {
  background: var(--item-select-dark);
  border-radius: 10px;
}
