@font-face {
  font-family: Goldman;
  src: url(../fonts/Goldman-Regular.ttf);
}

:root {
  --black-darker: #1e2425;
  --black: #303738;
  --blue: #0091ea;
  --green: #14cba8;
  --white: #d5dade;
  --dada: #dadd11;
}

.collection-item {
  font-size: 2rem;
  padding: 1em;
}

li:hover {
  cursor: pointer;
}

body {
  padding: 0;
  margin: 0;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  background: var(--black-darker);
  color: var(--white);
}

#menu-bar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 30px;
  background: var(--black);
  -webkit-app-region: drag;
}

#menu-bar > div {
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#menu-bar > div h5 {
  color: #d5dade;
  font-size: 1.25rem;
  font-family: "Goldman", cursive;
  transform: translate(7px, -4px);
  text-transform: uppercase;
}

.menubar-btn {
  -webkit-app-region: no-drag;
}

.container {
  height: calc(100vh - 30px);
  background: #34475ab0;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 2em;
}

button {
  height: 100%;
  padding: 0 15px;
  border: none;
  background: transparent;
  outline: none;
}

button:hover {
  background: rgba(221, 221, 221, 0.2);
}

#close-btn:hover {
  background: rgb(255, 0, 0);
}

button i {
  color: white;
}

.collection {
  box-shadow: none;
  border: none;
  padding: 0 20px !important;
}

.collection-item {
  border-radius: 2px;
  padding-bottom: 2em;
  margin-bottom: 8px !important;
  user-select: none;
  color: var(--black-darker);
  background: var(--blue) !important;
  border: none !important;
  font-size: 1.5rem;
  font-weight: bold;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.collection-item:hover {
  color: var(--black-darker);
  background: var(--white) !important;
}

.item-tag {
  font-family: "Goldman", cursive;
  font-size: 0.5em;
  background: rgb(255, 85, 0);
  border-radius: 50px;
  padding: 0.25em 0.5em;
}

.item-todo {
  background: #0091ea !important;
}

.item-todo:hover {
  background: linear-gradient(to right, #0091ea 60%, #ffeb3b) !important;
}

.item-todo .item-tag {
  color: #0091ea !important;
  text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000,
    1px 1px 0 #000;
}

.item-doing {
  background: #ffeb3b !important;
}

.item-doing:hover {
  background: linear-gradient(to right, #ffeb3b 60%, #4caf50) !important;
}

.item-doing .item-tag {
  color: #ffeb3b !important;
  text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000,
    1px 1px 0 #000;
}

.item-done {
  background: #4caf50 !important;
}

.item-done:hover {
  background: linear-gradient(to right, #4caf50 60%, #0091ea) !important;
}

.item-done .item-tag {
  color: #4caf50 !important;
  text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000,
    1px 1px 0 #000;
}

.item-text-paragraph {
  margin: 0;
  padding: 0;
}

.del-modify-container button {
  padding: 0 !important;
}

.item-delete-btn {
  margin-left: 0.25em;
}

.deletebutton,
.modifybutton {
  margin: 0;
  padding: 0.25em;
  background: var(--white);
  color: var(--black-darker);
  border-radius: 5px;
}

.deletebutton:hover,
.modifybutton:hover {
  cursor: pointer;
  color: rgb(200, 27, 27);
  background: var(--black);
}

.unselect {
  pointer-events: none;
}

.scrollable-area {
  overflow-y: scroll;
  padding-left: 10px;
  height: calc(100vh - 121px);
}

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-thumb {
  background: var(--black);
  border-radius: 10px;
}

.mainnav {
  width: 80%;
  height: 40px;
  margin: 15px auto;
  border-radius: 5px;
  overflow: hidden;
  /* border: 1px solid red; */
}

.addbtn,
.clearallbtn {
  width: 50%;
  font-family: "Goldman", cursive;
  font-weight: bold;
  color: var(--white);
  background: var(--green);
}

.addbtn:focus,
.clearallbtn:focus {
  color: var(--black-darker);
  background: var(--white);
}

.addbtn:hover,
.clearallbtn:hover {
  cursor: pointer;
  color: var(--black);
  background: var(--white);
}

.clearallbtn {
  float: right;
  border-left: 1px solid var(--black-darker);
}

.addbtn {
  border-right: 1px solid var(--black-darker);
}

footer {
  height: 20px;
  background: var(--black);
}
